@page "/FAQs"
@inject HttpClient Http

<h1>FAQs</h1>

<p>How to get azure settings</p>

<ol>
    <li>
        Go to the app
    </li>
    <li>
        Under "Development Tools" click on "Advanced Tools" and click "Go"
    </li>
    <li>
        Click on AppSettings and that is the JSON
    </li>
</ol>